.header{
    height: 85px;
    width: 100%;
    background-color: #3b5998;
}
.logo_text{
    font-size: 42px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
    margin-left: 150px;
}
.logo{
    width: 50%;
    padding-top: 25px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.table{
    padding-top: 10px;
    
    padding-left: 140px;
}
.btn{
    color: white;
    background-color: #4267b2;
    border-color: #29487d;
    box-sizing: border-box;
    height: 20px;
    cursor: pointer;
}
.btn:hover{
    background: #29487d;
}
.second{
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height: 700px;
    padding-left: 200px;
    padding-top: 30px;
}
.picture{
    width: 50%;
    color: #29487d;
    float: left;
}
.text{
    font-weight: bold;
    font-size: 25px;
}
.text_area{
    width: 50%;
    float: left;
}
.first_name{
    float: left;
    width: 120px;
    height: 25px;
    border-color: white;
    border-radius: 4px;
    border-width: 1px;
    font-size: medium;
}
.second_name{
    float: left;
    width: 120px;
    height: 25px;
    margin-left: 20px;
    border-radius: 4px;
    border-color: white;
    border-width: 1px;
    font-size: medium;
}
.mob_no{
    width: 270px;
    height: 25px;
    margin-top: 10px;
    border-radius: 4px;
    border-color: white;
    border-width: 1px;
    font-size: medium;
}
.pass{
    width: 270px;
    height: 25px;
    margin-top: 10px;
    border-radius: 4px;
    border-color: white;
    border-width: 1px;
    font-size: medium;
}
text_one{
    width: 100%;
}
.text_two{
    float: left;
    width: 100%;
}
.text_three{
    
    float: left;
    width: 100%;
}
.dob{
    float: left;
    padding-top: 30px;
    width: 100%;
}
.birthday{
    float: left;
    font-size: large;
    font-weight: bold;
    color: gray;
    width: 100%;
}
.dob_table{
    width: 100%;
}

.dob_select{
    float: left;
    margin-top: 10px;
    border-radius: 4px;
    border-color: rgb(226, 226, 226);
    border-width: 1px;
    font-size: 15px;
    height: 25px;
}
.dob_month{
    float: left;
    margin-top: 10px;
    border-radius: 4px;
    border-color: rgb(226, 226, 226);
    border-width: 1px;
    font-size: 15px;
    height: 25px;
    margin-left: 5px;
}
.dob_year{
    float: left;
    margin-top: 10px;
    border-radius: 4px;
    border-color: rgb(226, 226, 226);
    border-width: 1px;
    font-size: 15px;
    height: 25px;
    margin-left: 5px;
}
.gender{
    width: 100%;
    float: left;
}
.text_gender{
    font-size: large;
    font-weight: bold;
    float: left;
    color: gray;
    padding-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}
.terms{
    float: left; 
    color: grey;
    margin-top: 20px;
    width: 100%;
}
#button{
    float: left;
    margin-top: 25px;
    height: 35px;
    width: 200px;
    background-color: rgb(50, 105, 50);
    color: white;
    border: 0;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 0.5px 0.5px black;
    font-size: 17px;
}
.bottom_text{
    float: left;
    font-weight: bold;
    color: grey;
    margin-top: 35px;
}


body{
    margin: 0;
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
    font-size: 13px;
}